# general
node_modules
.env
secrets.json
scripts/deploy_conf.json

#Hardhat files
cache
artifacts

#Solidity coverage
coverage
coverage.json

#Typechain
typechain
types

# IDEs
.idea

#Foundry
forge-cache
out
broadcast

# Echidna
corpus/
**/crytic-compile
**/crytic-export
**/corpus