[profile.default]
src = 'contracts'
out = 'out'
libs = ['lib']
test = 'test/foundry'
cache_path = 'forge-cache'
script = 'scripts'

solc_version = "0.8.18"
optimizer = true
optimizer_runs = 100
via_ir = false
verbosity = 1
ignored_error_codes = [1878]

#eth-rpc-url = "https://rpcapi.fantom.network"
rpc_endpoints = { fantom = "https://rpcapi-tracing.fantom.network" }
#sender = ''
#initial_balance = '0xffffffffffffffffffffffff'

ffi = false
fs_permissions = [{ access = "read", path = "./"}]
#invariant_fail_on_revert = true

# Do not use in production
[profile.test]
ignored_error_codes = [1878, 5574]

[profile.test.optimizer_details.yulDetails]
# Reduces compile times but produces poorly optimized code
optimizerSteps = ''

[fmt]
int_types = 'short'

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
